.calculator {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
}

.display {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    width: 286px;
    
}

input[type="text"] {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 26px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(35, 35, 35, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 40px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    width: 100%;
    height: 50px;
    font-size: 22px;
}

.laranja {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(35, 35, 35, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 40px rgba(35, 35, 35, 0.1);
    background: #d72;
}

.laranja:hover {
    background-color: inherit;
}

.laranja:active {
    background-color: #d79a67;
}